<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wp.a360.point.com.myapplication">

    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加访问手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 添加访问手机位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--sdcard读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ui.activity.MyAppLication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--图片预览界面-->
        <activity android:name="wp.a360.point.com.myapplication.ui.activity.WallPaperDetailsActivity"
            android:screenOrientation="portrait" />
        <!--类型结果界面-->
        <activity android:name="wp.a360.point.com.myapplication.ui.activity.ImageTypeDetailsActivity"
            android:screenOrientation="portrait" />
        <!--搜索结果界面-->
        <activity android:name="wp.a360.point.com.myapplication.ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>